#root {
  max-width: 1280px;
  margin: 0 auto;
  padding: 2rem;
}

.logo {
  height: 6em;
  padding: 1.5em;
  will-change: filter;
  transition: filter 300ms;
}
.logo:hover {
  filter: drop-shadow(0 0 2em #646cffaa);
}
.logo.react:hover {
  filter: drop-shadow(0 0 2em #61dafbaa);
}

@keyframes logo-spin {
  from {
    transform: rotate(0deg);
  }
  to {
    transform: rotate(360deg);
  }
}

@media (prefers-reduced-motion: no-preference) {
  a:nth-of-type(2) .logo {
    animation: logo-spin infinite 20s linear;
  }
}

.card {
  padding: 2em;
}

.read-the-docs {
  color: #888;
}

.row {
  display: flex;
  margin-bottom: 16px;
  align-items: center;
  padding: 8px;
}

.row__item {
  min-width: 200px;
  margin-right: 24px;
}

.row__header {
  font-weight: 600;
}

.row__checkbox{
  margin-right: 96px
}

.pagination {
  display: flex;
  justify-content: center;
}

.pagination__nav {
  margin-right: 16px;
}

.row--edit {
  margin-left: 72px;
}

.selected {
  background-color: #d8d5d5;
  border-radius: 8px;
}

.row__edit, .row__confirm {
  margin-right: 16px;
}

.search{
  display: flex;
  margin-bottom: 32px;
}

.search__input{
  width: 100%;
  padding: 8px;
}

.app__delete__all {
  position: absolute;
  bottom: 32px;
}
